.btn-group{
display: flex;
flex-direction: row;
justify-content:space-between;
padding-left: 10em;
   padding-right: 10em;

}
.btn-salir{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    position: relative;
   
}

.btn{
    width: 5vw;
    margin: 1em;
    
}
input{
    border-radius: 5px;
    border-color: darkcyan;
    padding-left:0.2em;
    margin: 0.5em;
}
label{
    font-weight: bold;
}
.form-group{
    padding-left: 10em;
    padding-right: 10em;
        }